# Node modules
/Front-End/node_modules/

# Logs
/Front-End/*.log

# OS-specific files
/Front-End/.DS_Store
/Front-End/Thumbs.db

# Build output
/Front-End/dist/

# Environment files
/Front-End/.env

# IDE files
/Front-End/.vscode/
/Front-End/.idea/

# npm and yarn lock files (optional, depending on your preference)
# package-lock.json
# yarn.lock

# Acrchivos de Laravel
/Back-End/.phpunit.cache
/Back-End/node_modules
/Back-End/public/build
/Back-End/public/hot
/Back-End/public/storage
/Back-End/storage/*.key
/Back-End/vendor
/Back-End/.env
/Back-End/.env.backup
/Back-End/.env.production
/Back-End/Homestead.json
/Back-End/Homestead.yaml
/Back-End/auth.json
/Back-End/npm-debug.log
/Back-End/yarn-error.log
/Back-End/.fleet
/Back-End/.idea
/Back-End/.vscode
node_modules
